<ng-container>
  <div style="height: 40px; background-color:#c4c2c2; " class="mb-5">
    <p class="pt-2 pl-4"><a href="" style="text-decoration: none; color: #444;">Trang chủ </a>><a href=""
        style="text-decoration: none; color: #444;">
        Hướng Dẫn Mua Hàng</a>
    </p>
  </div>
  <div class="container">
    <h2>CÁCH MUA HÀNG TRÊN WEBSITE AUDISTORE.COM</h2>
    <p>
      Không cần trực tiếp đến siêu thị mua hàng, bạn có thể lựa chọn cách mua hàng online bằng cách chọn một trong những
      cách mua hàng sau:

      Cách 1: Gọi điện thoại đến tổng đài (028-38.102.102) hoặc (1900.232.460) từ 7g30-22g (cả CN & ngày lễ) để đặt
      hàng,
      nhân viên chúng tôi luôn sẵn phục vụ, tư vấn và hỗ trợ quý khách mua được sản phẩm ưng ý.
      <br>

      Cách 2: Đặt mua hàng online trên website thegioididong.com:
      <br>
      Bước 1: Tìm sản phẩm cần mua
      Bạn có thể truy cập website thegioididong.com để tìm và chọn sản phẩm muốn mua bằng nhiều cách:
      <br>
      + Sử dụng ô tìm kiếm phía trên, gõ tên sản phẩm muốn mua (có thể tìm đích danh 1 sản phẩm, tìm theo hãng...).
      Website sẽ cung cấp cho bạn những gợi ý chính xác để lựa chọn:

      <br>

      + Trang web luôn có sẵn những gợi ý sản phẩm hot nhất, có chương trình khuyến mãi hấp dẫn, bạn cũng có thể chọn
      xem
      ngay mà không cần tìm kiếm:

      <br>

      + Sử dụng menu sản phẩm của website: chọn loại sản phẩm muốn mua là điện thoại, laptop, máy tính bảng hay máy cũ.
      <br>


      Sau đó tuỳ vào nhu cầu mua, bạn có thể lọc các sản phẩm theo các tiêu chí về giá, lọc sản phẩm theo hãng, lọc sản
      phẩm đang có chương trình trả góp 0%....
      <br>


      Bước 2: Đặt mua sản phẩm
      Sau khi chọn được sản phẩm ưng ý muốn mua, bạn tiến hành đặt hàng bằng cách:
      <br>
      + Chọn vào nút MUA NGAY nếu bạn muốn thanh toán luôn toàn bộ giá tiền sản phẩm, chọn vào nút MUA TRẢ GÓP hoặc TRẢ
      GÓP LÃI SUẤT 0% nếu bạn muốn mua theo hình thức trả góp.
      <br>


      + Điền đầy đủ các thông tin mua hàng theo các bước trên website, sau đó chọn hình thức nhận hàng là giao hàng tận
      nơi hay đến siêu thị lấy hàng, chọn hình thức thanh toán là trả khi nhận hàng hay thanh toán online (bằng thẻ ATM,
      VISA hay MasterCard) và hoàn tất đặt hàng.

      <br>

      + Ngoài ra, nếu quý khách đang sở hữu phiếu mua hàng, mã giảm giá... thì hãy nhập trong bước đặt hàng để được giảm
      giá theo các bước tại hướng dẫn: Cách sử dụng phiếu mua hàng.
      <br>
      + Sau khi đặt hàng thành công, Thế Giới Di Động sẽ liên hệ quý khách để xác nhận và hoàn tất thủ tục.
      <br>
      Ngoài các cách trên, để mua hàng tại Thế Giới Di Động quý khách còn có thể để lại bình luận tại bất kì đâu trên
      website (có thông tin tên, số điện thoại...), hoặc trực tiếp chat với tư vấn viên của công ty để được tư vấn và
      đặt
      mua sản phẩm.
      <br>
      +Lưu ý:
      1. Chúng tôi chỉ chấp nhận những đơn đặt hàng khi cung cấp đủ thông tin chính xác về địa chỉ, số điện thoại. Sau
      khi
      bạn đặt hàng, chúng tôi sẽ liên lạc lại để kiểm tra thông tin và thỏa thuận thêm những điều có liên quan.
      <br>
      2. Một số trường hợp nhạy cảm: giá trị đơn hàng quá lớn & thời gian giao hàng vào buổi tối địa chỉ giao hàng trong
      ngõ hoặc có thể dẫn đến nguy hiểm. Chúng tôi sẽ chủ động liên lạc với quý khách để thống nhất lại thời gian giao
      hàng cụ thể.
      <br>
      3. Công ty cam kết tất cả hàng hóa gởi đến quý khách đều là hàng chính hãng mới 100% (có đầy đủ hóa đơn, được bảo
      hành chính thức). Những rủi ro phát sinh trong quá trình vận chuyển (va đập, ẩm ướt, tai nạn...) có thể ảnh hưởng
      đến hàng hóa, vì thế xin Quý Khách vui lòng kiểm tra hàng hóa thật kỹ trước khi ký nhận. Thegioididong sẽ không
      chịu
      trách nhiệm với những sai lệch hình thức của hàng hoá sau khi Quý khách đã ký nhận hàng.
    </p>
  </div>
</ng-container>