.input[type=text] {
  width: 300px;
  -webkit-transition: width 1sease-in-out;
  transition: width 1sease-in-out;
}

.input[type=text]:focus {
  width: 100%;
}

.menu1 {
  position: relative;
}

.menu1:hover::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: 0.3s;
}

.menu2 {
  text-decoration: none;
  color: #2f2f2f;
}

.menu2:hover {
  color: red;
}